#!/bin/sh

xrdb ~/.Xresources

setbg &		# Set the background
remaps
xbindkeys &
unclutter &		# Remove mouse when idle
picom &		# picom for transparency
mpdupdate &

dunst &
/usr/lib/kdeconnectd &
redshift -r -t 6500:2000 &
profile-loader &
